[mysqld]
query_cache_size=0
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_type=0
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
#wsrep_provider_options="gcache.size=32G"

# Galera Cluster Configuration
wsrep_cluster_name="MySQLCluster"
wsrep_cluster_address="gcomm://
{%- for servername,clusterid  in salt ['mine.get']('G@cluster-id:mysql* and G@role:mysql', 'serverid','compound').items() -%}
{%- if servername !=  grains['id'] and clusterid == grains['cluster-id'] -%}
{{ servername }},
{%- endif -%}
{%- endfor -%}
"

# Galera Synchronization Congifuration
wsrep_sst_method=rsync
#wsrep_sst_auth=user:pass

# Galera Node Configuration
wsrep_node_address={{ salt['cmd.run']('hostname -I') }}
wsrep_node_name={{ salt['cmd.run']('hostname') }}
